rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Usuario/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Cobrancas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Caixas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Cobrancas/{parent}/CobrancasRealizadas/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/CobrancasRealizadas/{document} {
      allow read: if true;
    }

  }
}
